* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto Regular", sans-serif;
}

header {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header_flexbox_container {
    display: flex;
    justify-content: space-between;
    width: 56vw;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
}

.header_btn {
    margin: 0 auto;
    height: 6vh;
    width: 13vw;
    box-shadow: none;
    border: none;
    background: none;
    border-radius: 0vh;
    font-size: 2.2vh;
}

#main {
    width: 12vw;
}

#new {
    width: 9vw;
}

#completed {
    width: 13.6vw;
}

.vertical_line {
    border-left: 0.3vh solid white;
    height: 2.5vh;
    align-self: center;
}

.container {
    width: 56vw;
    margin: 0 auto;
}

h1 {
    font-size: 3vh;
}

.title {
    color: white;
    font-size: 5vh;
    text-transform: uppercase;
    text-align: center;
}

.main,
.new-match,
.current-match,
.final-score {
    height: 100vh;
    width: 100vw;
    background: url('../img/background2-photoaidcom-darken.webp') center center/cover no-repeat;
    padding: 12.5vh 0 12.5vh 0;
}

.main_filling {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 22vh;
    width: 282px;
    height: 9vh;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 0.5vh solid rgba(0, 0, 0, 0.23);
    border-radius: 1vh;
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: white;
    font-size: 2.5vh;
    text-transform: uppercase;
    cursor: pointer;
}

.new-match button {
    height: 6.25vh;
    margin-top: 2.5vh;
}

.main .completed_matches_btn {
    margin-top: 9.2vh;
}

h2 {
    margin-top: 12.5vh;
    text-align: center;
    color: white;
    font-size: 3.3vh;
}

.name-form {
    margin: 4.4vh auto;
    width: 270px;
    display: flex;
    flex-direction: column;

    input {
        width: 282px;
        height: 6.25vh;
        border-radius: 1vh;
        background-color: white;
        margin-bottom: 1.8vh;
        border: none;
        padding: 0 2.5vh;
        font-size: 1.8vh;
    }
}

table {
    margin: auto;
    margin-top: 2.5vh;
    width: 43vw;
    /* height: 15vh; */
    border-collapse: collapse;
    border: 0.4vh, solid;
    background: black;
    color: white;
    border-color: white;
    font-size: 2.2vh;
}

.final-score table {
    width: 40%;
}

td,
th {
    border-collapse: collapse;
    border: 0.4vh, solid;
    text-align: center;
}

th {
    text-transform: uppercase;
    /* color: #2798b9; */
    border-color: white;
    height: 5vh;
    background-color: #2798b9;
}

td {
    height: 4vh;
}

.flexbox-container form {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 47vw;
}

.flexbox-container button {
    margin-top: 5vh;
    height: 6.25vh;
    width: 15vw;
    text-transform: none;
    font-size: 2.2vh;
}

.completed-matches {
    height: 100vh;
    width: 100vw;
    background: url('../img/background2-photoaidcom-darken.webp') center center/cover no-repeat;
    padding: 12.5vh 0 12.5vh 0;
}

.search_flexbox form label {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 2vh;
}

.search_input {
    height: 4vh;
    width: 54vh;
    border-radius: 1vh;
    padding: 0 1.5vh;
    margin: 0 2.4vh 0 2.4vh;
    font-size: 1.9vh;
}

.search_label {
    font-size: 2.2vh;
    color: white;
    margin: auto;
    align-items: center;
}

.search_button {
    height: 4vh;
    width: 13.9vh;
    text-transform: none;
    margin-top: 0;
    font-size: 2.2vh;
}

.search-flexbox-container form {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.search-flexbox-container button {
    margin-top: 2vh;
    margin: 2.5vh 0.7vh 0 0.7vh;
    height: 4.5vh;
    text-transform: none;
    font-size: 2.2vh;
}

.next_btn, .prev_btn {
    width: 9vh;

}

.page_btn {
    width: 4.1vh;
}

.completed-matches .container h1 {
    margin-bottom: 5vh;
}

.samename_users_conatiner {
    /* display: flex; */
    height: 50vh;
    width: 50vh;

}

.samename_users_block {
    position: absolute;
    /* margin: 0 auto; */
    padding-top: 10vh;
    padding-bottom: 15vh;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 40vmin;
    width: 40vmin;
    background:whitesmoke;
    z-index: 10;
    font-size: 3.5vh;
}

.samename_users_btn {
    text-transform: none;
    width: 35vh;
}

