* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto Regular", sans-serif;
}


.container {
    width: 950px;
    margin: 0 auto;
}

.title {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.main,
.new-match {
    height: 800px;
    background: url('../img/background2-photoaidcom-darken.webp') center center/cover no-repeat;
    padding: 100px 0 100px 0;
}

.main_filling {
    height: 800px;
    background-color: black;
    opacity: 0.5;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 175px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

.new-match button {
    height: 50px;
    margin-top: 20px;
}

.main .completed_matches_btn {
    margin-top: 73px;
}

.new-match .entering-name {
    margin-top: 125px;
    text-align: center;
    color: white;
}

.name-form {
    margin: 35px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    input {
        width: 313px;
        height: 50px;
        border-radius: 8px;
        background-color: white;
        margin-bottom: 15px;
        border: none;
        padding: 0 20px;
        font-size: 14px;
    }
}